@import url("./assets/settings/_fonts.scss");
@import url("./assets/settings/_variables.scss");
@import url("./assets/components/buttons.scss");

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-size: 14px;
  height: 100%;
  max-height: 100vh;
  &.chakra-ui-dark {
    background-color: var(--chakra-colors-blueDark);
  }
  &.chakra-ui-light {
    background-color: var(--chakra-colors-grayLight);
  }
}
