:root {
  --pure-white: #fff;
  --red: #fc4747;
  --greyish-blue: #5a698f;
  --dark-blue: hsl(209, 23%, 22%); //dark-mode-elements
  --semi-dark-blue: #161d2f;
  --very-dark-blue: hsl(207, 26%, 17%); //Dark Mode Background
  --very-dark-blue-text: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
}

// - Family: [Nunito Sans](https://fonts.google.com/specimen/Nunito+Sans)
// - Weights: 300, 600, 800
//
// - Homepage Items: 14px
// - Detail Page: 16px
